<script>
function download() {
  filename = "SettingsViewController.swift"
  text = swiftCode()
  var element = document.createElement('a');
  element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
  element.setAttribute('download', filename);
  element.style.display = 'none';
  document.body.appendChild(element);
  element.click();
  document.body.removeChild(element);
}

function downloadBase() {
  var anchor = document.createElement('a');
  anchor.href = 'static/BaseSettingsViewController.swift';
  anchor.target = '_blank';
  anchor.download = 'BaseSettingsViewController.swift';
  anchor.click();
}

</script>

<table id="myTable" class="myTable section-container">    
  <tbody>
    <form action="#">
    <td width="100%">
      <button onclick="downloadBase()" class="btn btn-primary pull-right">Download Base</button>
    </td>
    <td>
      <button onclick="download()" class="btn btn-primary pull-right">Download Main</button>
    </td>
    </form>
  </tbody>
</table>
