<style>
  td, th { 
      padding: 10px;
  }
  .table-nav {
    background-color:#F7F7F7; 
    text-align:center; 
    border-width: 1px;
    padding: 55px 0px 14px 0px;
    margin: 0px;
    font-weight: 500;
    font-size: 17px;
  }
  .table-cell-border {
    border-color: #D3D3D3;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    font-size: 17px;
    margin: 0px 0px 0px 10px;
  }
  
  .table-cell-label {
    font-size: 17px;
    padding: 12px 0px 0px 0px;
    margin: 0px;
  }
  
  .table-cell-margin {
    margin-left: 20px;
  }
    
  .table-cell {
    background-color:white; 
    margin: 0px;
    font-size: 17px;
    margin: 0px;
    height: 44px;
  }
  .table-separator {
    background-color:clear; 
    text-align:center; 
    border-width: 1px;
    padding: 0px;
    margin: 0px;
    height: 35px;
    border-color: #D3D3D3;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
  }
  img {
      position: absolute;
      top: -25;
      left: -25;
      width: 400px;
  }
  .centered {
    margin: 0 auto;

  }
  
  .myTable {
    width: 100%;
  }
  
  .center {
    text-align:center; 
  }
  
  .section-container {
    background-color:#F7F7F7; 
    border-width: 1px;
    margin: 10px;
    padding: 10px;
    border-color: #D3D3D3;
    border-style: solid;
  }
  
  table td, table td * {
      vertical-align: top;
  }
  
  .iphone-frame {
    background-color:#ebebeb; 
    width:349;
    min-height:662;
    position: relative;
    top: 11;
    left: 11;
    margin-right: 30;
  }
  
  .iphone {
    background-color:#ebebeb; 
    width:349;
    min-height:662;
    position: relative;
    
    display:block;
    width: 100%;
    overflow: auto;
    height: 100px;
    
  }
  
  .download {
    height: 60px;
    width: 100%;
  }
  
  .row {
    flex-grow: 1;
    flex-basis:0;
    max-width: 100%;
  }
  
  .form-group {
    margin-bottom: 0px;
  }
  
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);</p>
body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
}
h1{
    font-weight: normal;
    color: black;
    font-size: 3.0em;
}
body {
  line-height: 140%;
  margin: 40px;
}
code {font-size: 100%;}
pre {
  margin: 10px;
  width: 100%;
}
pre code {  
  display: block;
  padding: 20px;
}
</style>