{% extends "layout.html" %}
{% block body %}
{% include "style.html" %}
{% include "sort.html" %}

<script>
  var sections = {}
  
  {% include "swift.js" %}
  $(document).ready(function () {
    {% include "script.js" %}
  });
  
</script>

<h2>Swift Settings Generator</h2>
<br>
<p>Coding settings pages are annoying, boring, repetitive but important. Thats why I create this.</p>
<p>Please use a desktop computer to view this website. Contact me at hello at ajayjapan.com or follow me at @ajayjapan.</p>
<p>You can drag and drop the cells to reorder. You can easily customize futher after downloading the files.</p>
<p>Download both the <b>Base</b> controller and the <b>Main</b> controller and import it into your project.</p>
<br>
<br>

<table>
  <tr>
  <td width=400>
    {% include "iphone.html" %}
  </td>
  <td id="data-input">
    {% include "insert.html" %}
  </td>

  <td width=50%>

  {% include "download.html" %}

    <pre><code>
    </code></pre>
  </td>
</td>
    </tr>
</table>

{% endblock %}
